@import '../../variables';

.experiencesPage {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-color: $black;
  color: $white;
  margin: 0 auto;
  opacity: 1;
  transition: opacity $transitionLong;
  overflow-x: hidden;

  section.top {
    @include hiddenState;

    display: flex;
    flex-direction: row;
    align-items: center;

    .logoLink {
      flex: 1;
      text-decoration: none;

      .logo {
        color: $white;
        font-size: 3rem;
      }
    }
  }

  section.intro {
    @include hiddenState;

    > h1 {
      font-size: 3rem;
      margin: 1.5em 0 0 0;
      text-align: center;
    }

    hr {
      width: 7rem;
      border: none;
      background: $yellow;
      height: 1px;
      margin: 1.75rem auto 2rem auto;
    }

    p {
      font-size: 1.5rem;
      color: $white;
      opacity: 0.8;
      text-align: center;
      line-height: 1.4em;
      padding: 0 25%;
    }
  }

  section.experiences {
    padding: 4rem 10vw;
    @include hiddenState;
  }

  &.showing {
    opacity: 1;
    pointer-events: none;
  }

  &.show1 {
    section.top {
      @include shownState;
    }
  }

  &.show2 {
    section.intro {
      @include shownState;
    }
  }

  &.show3 {
    section.experiences {
      @include shownState;
    }
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .hoverHide {
    transition: opacity 100ms linear !important;
    opacity: 0 !important;
  }
}

/** TABLET **/
@media (max-width: 1024px) {
}

/** PHONE **/
@media (max-width: 640px) {
}

@media (min-width: 1025px) {
  .experiencesPage {
    .container {
      padding: 4rem 15vw;
    }
  }
}
