@import '../../variables';

.experiencesPage {
  @include fullScreen;
  @include smoothYScroll;
  @include scrollBar;

  background-color: $black;
  color: $white;
  margin: 0 auto;
  opacity: 1;
  transition: opacity $showTransition;
  overflow-x: hidden;

  .introVideo {
    @include reverseZoomHidden;

    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
  }

  section.top {
    @include slideUpHidden;
  }

  section.intro {
    opacity: 1;
    transition: opacity $showTransition;

    > h1 {
      @include slideUpHidden;

      font-size: 3.5rem;
      margin: 3.5em 0 0 0;
      text-align: center;
      line-height: 1.4em;
    }

    hr {
      @include slideUpHidden;

      width: 12rem;
      border: none;
      background: $yellow;
      height: 1px;
      margin: 2.75rem auto 3rem auto;
    }

    p {
      @include slideUpHidden;

      font-size: 1.5rem;
      color: $white;
      text-align: center;
      line-height: 1.4em;
      padding: 0 20%;
    }
  }

  section.experiences {
    @include slideUpHidden;
    padding: 4rem 10vw;
  }

  &.showing {
    opacity: 1;
    pointer-events: none;
  }

  &.show1 {
    .introVideo {
      @include reverseZoomShow;
      opacity: 0.3;
    }
  }

  &.show2 {
    section.intro {

      > h1 {
        @include slideUpShow;
      }
    }
  }

  &.show3 {
    section.intro {

      hr {
        @include slideUpShow;
      }

      p {
        @include slideUpShow;
      }
    }

    section.experiences {
      @include slideUpShow;
    }

    section.top {
      @include slideUpShow;
    }
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .hoverHide {
    opacity: 0 !important;
  }
}

/** TABLET **/
@media (max-width: 1024px) {
  .experiencesPage {
    .container {
      width: 100vw;
      padding: 0 2rem 2rem 2rem;
    }

    section.top {
      @include slideUpHidden;

      display: flex;
      flex-direction: row;
      align-items: center;
      text-align:center;

      .logoLink {
        flex: 1;
        text-decoration: none;

        .logo {
          color: $white;
          font-size: 3rem;
        }
      }
    }

    section.intro {
      > h1 {
        font-size: 2.5rem;
      }

      hr {
        width: 33vw;
      }

      p {
        font-size: 1.25rem;
        padding: 0 3rem;
      }
    }
  }
}

/** PHONE **/
@media (max-width: 640px) {
  section.top {
    position:relative;
    z-index:4;
    left:-2rem;

    .logoLink {
      text-align: center;
    }
  }
}

@media (min-width: 1025px) {
  .experiencesPage {
    .container {
      padding: 0 3rem 3rem 3rem;

      section.experiences {
        padding: 12rem 10vw 4rem 15vw;
      }
    }
  }
}
