@import '../../variables';

.mainMenu {
  a {
    font-family: 'Maison Neue Mono', serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: $white;
    padding: 0.25em 0.25em;
    margin: 0.75em 1.25em;

    @include fontSmoothing;
    @include hoverLine;
  }
}

/** TABLET **/
@media (max-width: 1024px) {
  .mainMenu {
    a {
      font-size: 1.1rem;
      padding: 0.25em 0.25em;
      margin: 0.75em 1.25em;
    }
  }
}


/** PHONE **/
@media (max-width: 640px) {
  .mainMenu {
    display: none;
  }
}

@media (min-width: 1025px) {
  .mainMenu {
    a {
      font-size: 1.1rem;
      padding: 0.25em 0.25em;
      margin: 0.75em 1.25em;
    }
  }
}
