@import '../../variables';

.mainMenu {
  a {
    @include fontSmoothing;

    font-family: $fontMono;
    font-size: 1.4rem;
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.25em 0.25em;
    margin: 0.75em 1.25em;
  }

  &.white {
    color: $white;

    a {
      @include hoverLine($white);
    }
  }

  &.black {
    color: $black;

    a {
      @include hoverLine($black);
    }
  }
}

/** TABLET **/
@media (max-width: 1024px) {
  .mainMenu {
    @include slideUpHidden;

    &.shown {
      @include  slideUpShow;
    }

    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 1000000;
    transform: translateX(0);
    opacity: 1;

    .menuItems {
      @include fullScreen;
      padding-top: 6rem;
      display: flex;
      align-items: center;
      background-color: black;
      flex-direction: column;

      a {
        display: flex;
        color: white;
        font-size: 2rem;
        padding: 0.25em;
        margin: 0.75em 1em;
        border: 1px solid rgba(0, 0, 0, 0.2);
      }

      .closeMenu {
        position: absolute;
        top: 1rem;
        right: 2rem;
        padding: 0;
        font-size: 1.4rem;
      }
    }

    .icon {
      font-size: 2rem;
      padding-top: 2rem;
    }
  }
}

/** PHONE **/
@media (max-width: 640px) {

}

@media (min-width: 1025px) {
  .mainMenu {
    a {
      font-size: 1.4rem;
      padding: 0.25em 0.25em;
      margin: 0.75em 1.25em;
    }
  }

  .icon {
    display: none;
  }
}
