@import '../../variables';

.mainMenu {
  a {
    @include fontSmoothing;

    font-family: $fontMono;
    font-size: 1.4rem;
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.25em 0.25em;
    margin: 0.75em 1.25em;
  }

  &.white {
    color: $white;

    a:not(.icon) {
      @include hoverLine($white);
    }
  }

  &.black {
    color: $black;

    a:not(.icon) {
      @include hoverLine($black);
    }
  }
}

/** TABLET **/
@media (max-width: 1024px) {
  .mainMenu {
    a {
      font-size: 1.1rem;
      padding: 0.25em 0.25em;
      margin: 0.75em 1.25em;
    }
  }
}

/** PHONE **/
@media (max-width: 640px) {
  .mainMenu {
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 1000000;
    transform: translateX(0);
    opacity: 1;

    a:not(.icon) {
      display: flex;
      background: white;
      color:black;
      padding: 0.25em 0.25em;
      margin: 0.75em 1.25em;
      border: 1px solid rgba(0,0,0,0.2);
    }

    .icon {
      font-size: 1.5rem;
    }
  }
}

@media (min-width: 1025px) {
  .mainMenu {
    a {
      font-size: 1.4rem;
      padding: 0.25em 0.25em;
      margin: 0.75em 1.25em;
    }
  }

  .icon {
    display:none;
  }
}
