@import '../../variables';

.technologyPage {
  @include fullScreen;
  @include smoothYScroll;
  @include scrollBar(rgba(0,0,0,0.2));

  background-color: $white;
  color: $black;
  margin: 0 auto;
  opacity: 1;
  transition: opacity $showTransition;

  .intro {
    position: relative;
    background-color: #fdf2dd;
    overflow: hidden;
    height: 70rem;

    .dots {
      @include reverseZoomHidden;
      position: absolute;
      width: 110%;
      height: 110%;
      left: -18%;
    }

    .inner {
      position: absolute;
      width: 100%;
      height: 100%;

      .top {
        @include slideUpHidden;
        padding: 3rem;
        display: flex;
        flex-direction: row;
        align-items: center;

        .logoLink {
          flex: 1;
          text-decoration: none;

          .logo {
            color: $black;
            font-size: 3rem;
            letter-spacing: 1px;
          }
        }
      }

      .copy {
        @include reverseZoomHidden;

        h1 {
          width: 12em;
          font-size: 5.5rem;
          padding: 0 0 0 2em;
          line-height: 1.4em;
        }
      }

      .leftHand {
        @include reverseZoomHidden;
        position: absolute;
        left: 0;
        top: 35rem;
        width: 48vw;
      }

      .rightHand {
        @include reverseZoomHidden;
        position: absolute;
        right: 0;
        top: 18rem;
        width: 48vw;
      }
    }
  }

  .blurb {
    text-align: center;
    padding: 4rem 0;

    hr {
      height: 4px;
      background-color: $black;
      opacity: 0.1;
      width: 15rem;
      margin: 4rem auto;
      border: none;
    }

    h1 {
      font-size: 3.75rem;
      margin-bottom: 2rem;
    }

    p {
      font-size: 2.25rem;
      width: 20em;
      margin: 0 auto;
      line-height: 2em;
    }
  }

  .projects {
    display: flex;
    flex-direction: row;
  }

  .contact {
    padding: 6rem 0;
    background-color: #2A2A2A;
    text-align: center;

    .tagLine {
      padding-bottom: 3rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      hr {
        flex: 1;
        height: 1px;
        background-color: $white;
        border: none;
      }

      h1 {
        color: $white;
        font-size: 2.5rem;
        padding: 0 2rem;
      }
    }

    a {
      @include button;
      font-size: 1.5rem;
    }
  }

  .footer {
    color: $black;
  }

  &.showing {
    opacity: 1;
  }

  &.show1 {
    .dots {
      @include reverseZoomShow;
    }
  }

  &.show2 {
    .intro {
      .inner {
        .copy {
          @include reverseZoomShow;
        }
      }
    }
  }

  &.show3 {
    .intro {
      .inner {
        .leftHand, .rightHand {
          @include reverseZoomShow;
        }
      }
    }
  }

  &.show4 {
    .intro {
      .inner {
        .top {
          @include slideUpShow;
        }
      }
    }
  }

  &.hide3.hiding {
    opacity: 0;
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}

/** TABLET **/
@media (max-width: 1024px) {
  .technologyPage {
    .container {
      width: 100vw;
      padding: 2rem;
    }

    section.top {
      @include slideUpHidden;

      display: flex;
      flex-direction: row;
      align-items: center;

      .logoLink {
        flex: 1;
        text-decoration: none;

        .logo {
          color: $white;
          font-size: 3rem;
        }
      }
    }
  }
}

/** PHONE **/
@media (max-width: 640px) {
}

@media (min-width: 1025px) {
}
