{
  "extends": "airbnb",
  "rules": {
    "prefer-arrow-callback": 0,
    "no-shadow": 0,
    "max-len": ["error", 120],
    "import/extensions": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "react/prop-types": 0,
    "no-underscore-dangle": 0,
    "arrow-body-style": 0,
    "no-param-reassign": 0
  },
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".json", ".scss"]
      }
    }
  }
}
