@import '../../../variables';

.boxes {
  width: 75rem;
  position: relative;
  min-height: 58rem;

  .defaultBox {
    background-color: $white;
    color: $black;
  }

  .box1 {
    @include dropShadow;
    top: 0;
    left: 6rem;
    text-align: left;
    position: absolute;
    width: 50rem;
    height: 100%;
    padding: 3rem;

    h2 {
      font-size: 4rem;
      line-height: 1.3em;
      text-align: center;
      margin-top: 2rem;
    }
  }

  .box2 {
    @include dropShadow;
    position: absolute;
    width: 50rem;
    overflow: hidden;

    &.right {
      left:15rem;
    }

    .block {
      padding:0;

      ul {
        display:none;
      }
    }
  }

  .box3 {
    @include dropShadow;
    position: absolute;
    padding: 3rem;
    font-family: $fontSans;
    width: 30rem;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;

    &.right{
      left: -6rem;
    }

    &.left{
      right: 6rem;
    }

    p {
      font-size: 2rem;
      line-height: 1.4em;
      text-align: center;
      margin-top: 1rem;
    }

    img {
      margin: 2rem 0;
    }

    &.initial {
      right: 6rem;
    }
  }

  &.left {
    margin: 4rem 4rem;
  }

  &.center{
    margin: 4rem auto;
  }

  &.right{
    margin: 4rem 42rem;
  }
}