@import '../../../../variables';

.projectSlide {
  background-size: cover;

  .hero {
    width: 1px;
    height: 1px;
  }
}


/** TABLET **/
@media (max-width:1024px) {
  .projectSlide {
    width: 90vw;
    height: 35rem;
  }
}

@media (min-width:1025px) {
  .projectSlide {
    height: 42rem;
    width: 69rem;
  }
}
