@import '../../../variables';

.imageBlock {
  overflow: hidden;
  padding: 2rem 2rem;
  color: $black;

  p {
    font-family: $fontSans;
    font-size: 1.2rem;
    opacity: 0.9;
    line-height: 1.4rem;
    flex: 2;
  }

  &.alignFull {
    img {
      display: block;
      width: 100%;
    }
  }

  &.alignCenter {
    img {
      display: block;
      height: 24rem;
      margin: 0 auto;
    }

    p {
      text-align: center;
      padding: 2rem 10rem 0 10rem;
    }
  }

  &.alignRight,
  &.alignLeft {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    p{
      padding: 0 2rem;
    }

    img {
      flex: 3;
      object-fit: contain;
      height: 24rem;
    }
  }

  &.alignCenter {
    text-align: center;
  }
}


/** TABLET **/
@media (max-width: 1024px) {
  .imageBlock {
    &.alignCenter {
      img {
        height: 20rem;
      }

      p {
        padding: 2rem 5rem 0 5rem;
      }
    }

    &.alignRight,
    &.alignLeft {
      img {
        height: 15rem;
      }
    }
  }
}

/** PHONE **/
@media (max-width: 640px) {

  .imageBlock {
    &.alignCenter {
      img {
        height: 15rem;
      }

      p {
        padding: 2rem 5rem 0 5rem;
      }
    }

    &.alignRight,
    &.alignLeft {
      flex-direction:column;
      align-items: center;
      img {
        height: 10rem;
      }
      p{
        padding: 1rem;
      }
    }
  }
}

@media (min-width: 1025px) {
}
