@import '../../../variables.scss';

.tag {
  position: relative;
  cursor: pointer;
  text-align: center;

  .name {
    text-align: center;
    position: absolute;
    bottom: -2em;
    left: 0;
    right: 0;

    transform: translate3d(0, 2em, 0);
    opacity: 0;

    transition: opacity $transitionSlick, transform $transitionSlick;

    label {
      display: inline-block;
      font-family: 'Maison Neue', sans-serif;
      text-transform: uppercase;
      color: $white;
      font-size: 0.9rem;
      background-color: $darkGrey;
      padding: 0.5em 0.6em 0.3em 0.6em;
      border-radius: 0.5em;

      &::after {
        position: absolute;
        content: ' ';
        top: -0.5em;
        left: 40%;
        width: 0;
        height: 0;
        border-left: 0.5em solid transparent;
        border-right: 0.5em solid transparent;
        border-bottom: 0.5em solid $darkGrey;
      }
    }
  }

  &:hover {
    .name {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}
