@import '../../variables';

$lightGreen: #8dc63f;
$darkGreen: #067c00;
$boxHeight: 65rem;
$introMediaYOffset: 5rem;

.cfdPage {
  @include fullScreen;
  @include smoothYScroll;
  @include scrollBar(rgba(0,0,0,0.2));

  overflow-x: hidden;
  margin: 0 auto;
  opacity: 1;
  transition: opacity $showTransition;
  background-color: $white;

  .intro {
    background: url(https://s3.amazonaws.com/usful-portfolio/cfdSite/img/header-background.jpg);
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
    width:100vw;
    height:100vh;
    display:flex;

    .left, .right {
      width:50%;
    }

    .left {
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding:0 4rem;

      .logo {
        @include slideUpHidden;
        width: 30rem;
        height: 30rem;
        align-self: flex-start;
        margin-left: 6rem;
      }

      .introCopy {
        @include reverseZoomHidden;
        font-family: $font;
        display: flex;
        flex-direction: column;

        .hero {
          color: $darkGreen;
          font-size: 5.5rem;
          margin-bottom:2rem;
        }

        .subTitle {
          font-size: 3rem;
          color: $darkGreen;
        }
      }
    }

    .right {
      display:flex;
      align-items: center;
      justify-content: center;

      img {
        position:relative;
      }

      .donationHistoryPNG {
        width: 30rem;
        z-index:1;
        left:22rem;
        top:4rem;
      }

      .charityProfilePNG {
        width: 60rem;
        right:7rem;
      }
    }
  }

  .blurb {
    text-align: center;
    padding: 4rem 0;

      hr {
        height: 4px;
        background-color: $black;
        opacity: 0.1;
        width: 15rem;
        margin: 6rem auto;
        border: none;
      }

      h1{
        line-height: 1.4em;
        font-size: 3.75rem;
        margin-bottom: 3rem;
      }

      p{
        font-size: 2rem;
        width: 30em;
        margin: 0 auto;
        line-height: 2em;
      }
  }

  .cause{
    .boxes {
      margin: 4rem auto;
      width: 75rem;
      position: relative;
      min-height: $boxHeight;

      .box1 {
        @include dropShadow;
        top: 0;
        left: 6rem;
        text-align: left;
        position: absolute;
        width: 50rem;
        height: $boxHeight;
        background-size: cover;
        padding: 3rem;

        background-image: linear-gradient(
                        to bottom,
                        rgba(1, 12, 79, 0.8) 0%,
                        rgba(20, 20, 20, 1) 100%
        ),
        url(https://s3.amazonaws.com/usful-portfolio/img/market-partners-1.jpg);

        h2 {
          color: $white;
          font-size: 4rem;
          line-height: 1.3em;
        }
      }

      .box2 {
        @include dropShadow;
        position: absolute;
        width: 50rem;
        height: 35rem;
        top: 23rem;
        overflow: hidden;
        
      }

      .box3 {
        @include dropShadow;
        position: absolute;
        background-color: $yellow;
        padding: 3rem;
        color: $black;
        font-family: $fontSans;
        width: 30rem;
        right: 6rem;
        top: 20rem;

        p {
          font-size: 1.5rem;
          line-height: 1.4em;
          text-align: left;
          padding: 0 0 1em 0;
        }
      }
    }
  }

  &.showing {
    opacity: 1;
  }

  &.show1 {
  }

  &.show2 {
  }

  &.show3 {
    .intro {
      .introCopy {
        @include reverseZoomShow;
      }
    }
  }

  &.show4 {
    .intro {
      .logo {
        @include slideUpShow;
      }
    }
  }

  &.hide3.hiding {
    opacity: 0;
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}