@import '../../variables';

$lightGreen: #8dc63f;
$darkGreen: #067c00;
$silver: #cdc0b6;
$boxHeight: 58rem;
$introMediaYOffset: 5rem;

.cfdPage {
  @include fullScreen;
  @include smoothYScroll;
  @include scrollBar(rgba(0,0,0,0.2));

  overflow-x: hidden;
  margin: 0 auto;
  opacity: 1;
  transition: opacity $showTransition;
  background-color: $white;


  .boxes {
    height: $boxHeight;
    margin: 4rem auto;
    width: 50rem;
    position:relative;
    display:flex;
    align-items: center;

    .box {
      @include dropShadow;
      position:absolute;
      background-color: $white;
      color: $black;
      background-size: contain;
    }

    .box1 {
      top: 0;
      text-align: left;
      width: 50rem;
      height: 100%;
      padding: 3rem;

      .title {
        font-size: 4rem;
        line-height: 1.3em;
        text-align: center;
        margin-top: 2rem;
      }
    }

    .box2 {
      width: 50rem;
      overflow: hidden;
      right:10rem;
      bottom: 4rem;

      .block {
        padding:0;
      }
    }

    .box3 {
      padding: 3rem;
      right: 6rem;
      font-family: $fontSans;
      width: 30rem;
      display:flex;
      flex-direction:column;
      align-items: center;
      justify-content: space-around;
      bottom: 6rem;
      left: 32rem;

      .text {
        font-size: 2rem;
        line-height: 1.4em;
        text-align: center;
        margin-top: 1rem;
      }

      .icon {
        margin: 2rem 0;
      }
    }

    &.reverse {
      .box2 {
        left:6rem;
      }

      .box3 {
        left:-10rem;
      }
    }

  }

  .intro {
    background: url(https://s3.amazonaws.com/usful-portfolio/cfdSite/img/header-background.jpg);
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
    width:100vw;
    height:90vh;
    display:flex;

    .left, .right {
      width:50%;
    }

    .left {
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding:0 4rem;

      .logo {
        @include slideUpHidden;
        width: 26rem;
        align-self: flex-start;
        margin-left: 6rem;
      }

      .introCopy {
        @include reverseZoomHidden;
        font-family: $fontSans;
        display: flex;
        flex-direction: column;

        .hero {
          color: $darkGreen;
          font-size: 5rem;
          margin-bottom:2rem;
        }

        .subTitle {
          font-size: 2.5rem;
          color: $darkGreen;
        }
      }
    }

    .right {
      display:flex;
      align-items: center;
      justify-content: center;

      img {
        position:relative;
        transition: $transitionLong;
      }

      .donationHistoryPNG {
        width: 25rem;
        z-index:1;
        left:22rem;
        top:4rem;
      }

      .charityProfilePNG {
        width: 51rem;
        right:7rem;
      }
    }
  }

  .stepOne {
    .boxes {
      margin-left:15rem;
      .box1 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://s3.amazonaws.com/usful-portfolio/cfdSite/img/samuel-scrimshaw-166751.jpg);
        .title {
          color: $white;
        }
      }
      .box2 {
        .carousal {
          height:33rem;

          ul {
            display: none;
          }
        }
      }
      .box3 {
        background-color: $darkGreen;
        .text {
          color: $white;
        }
      }
    }
  }

  .stepTwo {
    .boxes {
      margin-right:15rem;
      .box1 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://s3.amazonaws.com/usful-portfolio/cfdSite/img/samuel-scrimshaw-166751.jpg);
        .title {
          color: $white;
        }
      }
      .box3 {
        bottom: 2rem;
        left: -12rem;
        background-color: $silver;
        .text {
          color: $white;
        }
      }
    }
  }

  .stepThree {
    .boxes {
      margin-left:15rem;
      margin-bottom:8rem;
      .box1 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://s3.amazonaws.com/usful-portfolio/cfdSite/img/samuel-scrimshaw-166751.jpg);
        .title {
          color: $white;
        }
      }

      .box3 {
        bottom: -4rem;
        background-color: $lightGreen;
      }
    }
  }

  .blurb {
    text-align: center;

      hr {
        height: 4px;
        background-color: $black;
        opacity: 0.1;
        width: 15rem;
        margin: 6rem auto;
        border: none;
      }

      h1{
        line-height: 1.4em;
        font-size: 3.75rem;
        margin-bottom: 3rem;
      }

      p{
        font-size: 2rem;
        width: 30em;
        margin: 0 auto;
        line-height: 2em;
      }
  }

  &.showing {
    opacity: 1;
  }

  &.show1 {
  }

  &.show2 {
  }

  &.show3 {
    .intro {
      .introCopy {
        @include reverseZoomShow;
      }
    }
  }

  &.show4 {
    .intro {
      .logo {
        @include slideUpShow;
      }
    }
  }

  &.hide3.hiding {
    opacity: 0;
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}