@import '../../../variables';

.experienceProject {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  pointer-events: none;
  opacity: 0;

  transition: opacity $transition;

  .content {
    flex: 1;
    min-height: 100%;
    background-color: transparent;
  }

  .description {
    width: 40rem;
    min-height: 100%;
    background-color: green;
  }

  .nav {
    width: 8rem;
    min-height: 100%;
    background-color: blue;
  }

  &.selected {
    opacity: 1;
    pointer-events: auto;
  }
}