@font-face {
  font-family: 'Maison Neue';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/MaisonNeue-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Maison Neue';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/MaisonNeue-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'Maison Neue';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/MaisonNeue-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Maison Neue';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/MaisonNeue-Demi.ttf') format('truetype');
}

@font-face {
  font-family: 'Maison Neue';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/MaisonNeue-Bold.ttf') format('truetype');
}

html,
body {
  font-size: 1.6vh;
  font-family: Adamina, serif;
}

@media (max-height: 700px) {
  html, body {
    font-size: 10px;
  }
}