@import '../../../variables';

.carouselBlock {
  position: relative;

  .content {
    display: flex;
    flex-direction: row;
    transform: translateX(0);

    transition: transform $transitionMedium;

    > div {
      width: 100%;
    }
  }

  ul.dots {
    position: absolute;
    text-align: center;
    bottom: 6rem;
    width: 100%;

    li {
      display: inline-block;
      width: 3rem;
      height: 0.75rem;
      border-radius: 0.5rem;
      margin: 0 1rem;
      background-color: #fff;
      box-shadow: $dropShadow;
      opacity: 0.5;
      cursor: pointer;

      transition: opacity $transitionSlick;

      &.selected {
        opacity: 1;
      }
    }
  }
}