@import '../../variables';

.about {
  position: fixed;;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: red;
  opacity: 0;
  visibility: hidden;
  transition: opacity $showTransition;

  &.shown {
    visibility: visible;
    opacity: 1;
  }

  &.hidden {
    visibility: hidden;
    opacity: 0;
  }
}