@import '../../variables';

.marketPartnersPage {
  @include fullScreen;
  @include smoothYScroll;
  @include scrollBar(rgba(0,0,0,0.2));

  overflow-x: hidden;
  background-color: $white;
  color: $black;
  margin: 0 auto;
  opacity: 1;
  transition: opacity $showTransition;

  .intro {
    position: relative;
    width: 100vw;
    height: 54rem;

    .carousel {
      @include reverseZoomHidden;
      position: absolute;
      width: 100vw;
      height: 54rem;

      h1 {
        font-size: 4rem;
        padding: 0 20vw;
      }

      .pager {
        font-size: 2rem;
        bottom: 12rem;

        li {
          width: 5em;
          height: 0.25em;
        }
      }
    }

    .top {
      @include slideUpHidden;
      padding: 3rem;
      display: flex;
      flex-direction: row;
      align-items: center;

      .logoLink {
        flex: 1;
        text-decoration: none;

        .logo {
          color: $white;
          font-size: 3rem;
          letter-spacing: 1px;
        }
      }
    }
  }

  .main {
    padding: 6rem 0 0 0;
    text-align: center;

    > h1 {
      font-size: 4rem;
      line-height: 1.4em;
      max-width: 20em;
      margin: 0 auto;
    }

    > p {
      font-family: $fontSans;
      font-size: 2rem;
      line-height: 1.4em;
      padding: 2rem 0;
      max-width: 20em;
      margin: 0 auto;
    }

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      li {
        display: flex;
        flex-direction: column;
        margin: 2rem 4rem;
        align-items: center;
        justify-content: center;

        :global(.icon) {
          font-size: 4rem;
        }

        label {
          display: block;
          padding: 2rem 0;
          text-transform: uppercase;
          font-family: $fontMono;
          font-size: 1.5rem;
          text-align: center;
        }
      }
    }

    $boxHeight: 65rem;

    .boxes {
      margin: 4rem auto;
      width: 75rem;
      position: relative;
      min-height: $boxHeight;

      .box1 {
        @include dropShadow;
        top: 0;
        left: 6rem;
        text-align: left;
        position: absolute;
        width: 50rem;
        height: $boxHeight;
        background-size: cover;
        padding: 3rem;

        background-image: linear-gradient(
            to bottom,
            rgba(1, 12, 79, 0.8) 0%,
            rgba(20, 20, 20, 1) 100%
          ),
          url(/img/market-partners-1.jpg);

        label {
          display: block;
          font-size: 1.4rem;
          font-family: $fontMono;
          margin-bottom: 1rem;
          color: $white;
          text-transform: uppercase;
        }

        h2 {
          color: $white;
          font-size: 4rem;
          line-height: 1.3em;
        }
      }

      .box2 {
        @include dropShadow;
        position: absolute;
        background-image: url(/img/market1.jpg);
        background-size: cover;
        width: 50rem;
        height: 35rem;
        top: 23rem;
      }

      .box3 {
        @include dropShadow;
        position: absolute;
        background-color: $yellow;
        padding: 3rem;
        color: $black;
        font-family: $fontSans;
        width: 30rem;
        right: 6rem;
        top: 20rem;

        p {
          font-size: 1.5rem;
          line-height: 1.4em;
          text-align: left;
          padding: 0 0 1em 0;
        }
      }
    }

    .imageSection {
      margin: 10rem 15vw;
      display: flex;
      flex-direction: row;
      color: $black;

      .imageHolder {
        flex: 3;
        background-size: cover;
        background-position: 50% 50%;
      }

      .col {
        flex: 5;
        text-align: left;
        padding: 3rem;

        label {
          display: block;
          font-size: 1.4rem;
          font-family: $fontMono;
          margin-bottom: 1rem;
          text-transform: uppercase;
        }

        h2 {
          font-size: 4rem;
          line-height: 1.3em;
        }

        p {
          font-family: $fontSans;
          font-size: 1.5rem;
          line-height: 1.4em;
          text-align: left;
          padding: 1em 0;
        }
      }
    }

    .bottomHero {
      margin: 6rem 0 0 0;
      padding: 8rem 0 40rem 0;
      background-size: cover;
      background-position: 0 100%;
      text-align: center;

      label {
        display: block;
        font-size: 1.4rem;
        font-family: $fontMono;
        margin-bottom: 1rem;
        text-transform: uppercase;
      }

      h2 {
        font-size: 4rem;
        line-height: 1.3em;
        max-width: 20em;
        margin: 0 auto;
      }

      p {
        font-family: $fontSans;
        font-size: 1.5rem;
        line-height: 1.4em;
        padding: 2em 0;
        max-width: 25em;
        margin: 0 auto;
      }
    }
  }

  .footer {
    color: $black;
  }

  &.showing {
    opacity: 1;
  }

  &.show1 {
    .carousel {
      @include reverseZoomShow;
    }
  }

  &.show2 {
  }

  &.show3 {
    .intro {
      .top {
        @include slideUpShow;
      }
    }
  }

  &.hide3.hiding {
    opacity: 0;
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}

/** TABLET **/
@media (max-width: 1024px) {
}

/** PHONE **/
@media (max-width: 640px) {
}

@media (min-width: 1025px) {
}
