@import '../../variables';

.marketPartnersPage {
  @include fullScreen;
  @include smoothYScroll;
  @include scrollBar(rgba(0,0,0,0.2));

  overflow-x: hidden;
  background-color: $white;
  color: $black;
  margin: 0 auto;
  opacity: 1;
  transition: opacity $showTransition;

  .intro {
    position: relative;
    width: 100vw;
    height: 64rem;

    .carousel {
      @include reverseZoomHidden;
      position: absolute;
      width: 100vw;
      height: 64rem;

      h1 {
        font-size: 4rem;
        padding: 0 20vw;
      }

      .pager {
        font-size: 2rem;
        bottom: 12rem;

        li {
          width: 5em;
          height: 0.25em;
        }
      }
    }

    .top {
      @include slideUpHidden;
    }
  }

  .main {
    padding: 6rem 0 0 0;
    text-align: center;

    > h1 {
      font-size: 4rem;
      line-height: 1.4em;
      max-width: 20em;
      margin: 0 auto;
    }

    > p {
      font-family: $fontSans;
      font-size: 2rem;
      line-height: 1.4em;
      padding: 2rem 0;
      max-width: 30em;
      margin: 0 auto;
    }

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      li {
        display: flex;
        flex-direction: column;
        margin: 2rem 4rem;
        align-items: center;
        justify-content: center;

        :global(.icon) {
          font-size: 4rem;
        }

        label {
          display: block;
          padding: 2rem 0;
          text-transform: uppercase;
          font-family: $fontMono;
          font-size: 1.5rem;
          text-align: center;
        }
      }
    }

    $boxHeight: 65rem;

    .boxes {
      margin: 4rem auto;
      width: 75rem;
      position: relative;
      min-height: $boxHeight;

      .box1 {
        @include dropShadow;
        top: 0;
        left: 6rem;
        text-align: left;
        position: absolute;
        width: 50rem;
        height: $boxHeight;
        background-size: cover;
        padding: 3rem;

        background-image: linear-gradient(
            to bottom,
            rgba(1, 12, 79, 0.8) 0%,
            rgba(20, 20, 20, 1) 100%
          ),
          url(https://s3.amazonaws.com/usful-portfolio/img/market-partners-1.jpg);

        label {
          display: block;
          font-size: 1.4rem;
          font-family: $fontMono;
          margin-bottom: 1rem;
          color: $white;
          text-transform: uppercase;
        }

        h2 {
          color: $white;
          font-size: 4rem;
          line-height: 1.3em;
        }
      }

      .box2 {
        @include dropShadow;
        position: absolute;
        width: 50rem;
        height: 35rem;
        top: 23rem;
        overflow: hidden;
        background-size: cover;
        background-position: 50% 50%;

        video {
          width: 50rem;
          height: 35rem;
          object-fit: cover;
        }
      }

      .box3 {
        @include dropShadow;
        position: absolute;
        background-color: $yellow;
        padding: 3rem;
        color: $black;
        font-family: $fontSans;
        width: 30rem;
        right: 6rem;
        top: 20rem;

        p {
          font-size: 1.5rem;
          line-height: 1.4em;
          text-align: left;
          padding: 0 0 1em 0;
        }
      }
    }

    .imageSection {
      margin: 10rem 15vw;
      display: flex;
      flex-direction: row;
      color: $black;

      .imageHolder {
        flex: 3;
        background-size: cover;
        background-position: 50% 50%;
        overflow: hidden;

        video {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .col {
        flex: 5;
        text-align: left;
        padding: 3rem;

        label {
          display: block;
          font-size: 1.4rem;
          font-family: $fontMono;
          margin-bottom: 1rem;
          text-transform: uppercase;
        }

        h2 {
          font-size: 4rem;
          line-height: 1.3em;
        }

        p {
          font-family: $fontSans;
          font-size: 1.5rem;
          line-height: 1.4em;
          text-align: left;
          padding: 1em 0;
        }
      }
    }

    .bottomHero {
      margin: 6rem 0 0 0;
      padding: 8rem 0 40rem 0;
      background-size: cover;
      background-position: 0 100%;
      text-align: center;

      label {
        display: block;
        font-size: 1.4rem;
        font-family: $fontMono;
        margin-bottom: 1rem;
        text-transform: uppercase;
      }

      h2 {
        font-size: 4rem;
        line-height: 1.3em;
        max-width: 20em;
        margin: 0 auto;
      }

      p {
        font-family: $fontSans;
        font-size: 1.5rem;
        line-height: 1.4em;
        padding: 2em 0;
        max-width: 35em;
        margin: 0 auto;
      }
    }
  }

  .footer {
    color: $black;
  }

  &.showing {
    opacity: 1;
  }

  &.show1 {
    .carousel {
      @include reverseZoomShow;
    }
  }

  &.show2 {
    .intro {
      .top {
        @include slideUpShow;
      }
    }
  }

  &.hide2.hiding {
    opacity: 0;
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}

/** TABLET **/
@media (max-width: 1024px) {
  .marketPartnersPage {
    .intro {
      height: 54rem;

      .carousel {
        position: absolute;
        width: 100vw;
        height: 54rem;

        h1 {
          font-size: 3rem;
          padding: 0 2rem;
        }

        .pager {
          font-size: 1rem;
          bottom: 12rem;

          li {
            width: 1em;
            height: 1em;
          }
        }
      }
    }

    .main {
      > h1 {
        font-size: 3rem;
        max-width: 90vw;
      }

      > p {
        font-size: 1.75rem;
        max-width: 90vw;
      }

      ul {
        li {
          margin: 1rem;

          :global(.icon) {
            font-size: 2rem;
          }

          label {
            font-size: 1rem;
          }
        }
      }

      .boxes {
        width: 100vw;
        position: relative;
        min-height: 1vh;

        .box1 {
          box-shadow: none;
          background: none;
          position: initial;
          width: 100vw;
          height: auto;

          label {
            text-align: center;
            color: $black;
          }

          h2 {
            color: $black;
            font-size: 3rem;
            text-align: center;
          }
        }

        .box2 {
          position: initial;
          width: 100vw;
          height: 35rem;
        }

        .box3 {
          position: initial;
          width: 100vw;
          text-align: center;
        }
      }

      .imageSection {
        margin: 5rem 0;
        flex-direction: column;

        .imageHolder {
          flex: 1;
          height: 35rem;
        }

        .col {
          flex: 1;
          text-align: center;

          h2 {
            font-size: 3rem;
          }

          p {
            text-align: center;
          }
        }
      }

      .bottomHero {
        margin: 6rem 0 0 0;
        padding: 8rem 0 20rem 0;

        h2 {
          font-size: 3rem;
          max-width: 90vw;
        }

        p {
          max-width: 90vw;
        }
      }
    }
  }
}

/** PHONE **/
@media (max-width: 640px) {
  .marketPartnersPage {
    .intro {
      height:20rem;
      .carousel {
        height: 20rem;
        .pager {
          bottom: 2rem;

          li {
            width:3rem;
          }
        }

        video {
          height: 20rem;
        }
      }

      .top {
        text-align: center;
      }
    }

  }
}

@media (min-width: 1025px) {
}
