@import '../../../variables';

.sectionMenuItem {
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  background-color: rgba(0,0,0,0);
  transition: background-color $transition;

  span {
    font-family: Adamina, serif;
    position: relative;
    top: -0.8em;
    font-size: 50%;
    padding-right: 0.5em;
    cursor: pointer;
  }

  label {
    font-family: 'Maison Neue', sans-serif;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;
  }

  &:first-child {
    padding-left: 2em;
  }

  &:last-child {
    padding-right: 2em;
  }

  &:hover {
    background-color: rgba(255,255,255,0.1);
  }
}


@media (min-width:1025px) {
  .sectionMenuItem {
    font-size: 1.4rem;
    padding: 1em 1.5em;
  }
}

/** TABLET **/
@media (max-width:1024px) {
  .sectionMenuItem {
    font-size: 1.3rem;
    padding: 1em 1.25em;
  }
}

/** PHONE **/
@media (max-width:640px) {
  .sectionMenuItem {
    font-size: 2.5rem;
    padding: 0.5em 0;
    width: 70vw;

    text-align: center;

    span {
      display: none;
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

  }
}

