@import '../../../variables';

.mainMenu {
  a {
    position: relative;
    font-family: Adamina, serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5em 0.5em;
    margin: 0.5em 1em;
    color: $black;

    @include fontSmoothing;
    @include hoverLine($black);
  }
}

/** TABLET **/
@media (max-width:1024px) {
  .mainMenu {
    a {
      font-size: 1.8rem;
      padding: 0.5em 0;
    }
  }
}

@media (min-width:1025px) {
  .mainMenu {
    a {
      font-size: 1.1rem;
      padding: 0.5em 0.5em;
      margin: 0.5em 1em;
    }
  }
}