@import '../../../variables';

.mainMenu {
  a {
    font-family: Adamina, serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 1.5em;
    color: $black;
    transition: color $transition;

    &:hover {
      color: $green;
    }
  }
}

/** TABLET **/
@media (max-width:1024px) {
  .mainMenu {
    a {
      font-size: 1.8rem;
      padding: 0.5em 0;
    }
  }
}

@media (min-width:1025px) {
  .mainMenu {
    a {
      font-size: 1.1rem;
      padding: 1em 1.5em;
    }
  }
}