@import '../variables';

.footer {
  color: $white;
  padding: 4rem 0;

  ul {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;

    li {
      font-family: $fontMono;
      padding: 0 2.5rem;
      opacity: 0.5;

      span {
        opacity: 0.25;
        font-size: 66%;
      }

      a {
        color: inherit;
        text-decoration: none;
      }

      &.social {
        a {
          font-size: 1.1rem;
          padding: 0 0.5em;
        }
      }
    }
  }
}


/** TABLET **/
@media (max-width: 1024px) {
  .footer {
    padding: 2rem 0;

    ul {
      flex-direction: column;
      text-align: center;

      li {
        padding: 0.25rem 3rem;
      }
    }
  }
}

/** PHONE **/
@media (max-width: 640px) {
}

@media (min-width: 1025px) {
}
