@import '../variables';

$timing: 150ms;

.projectHero {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  opacity: 0;
  transform: scale(1.2,1.2);
  visibility: hidden;
  transition: visibility 0ms linear $timing, opacity $timing linear, transform $timing $bez2;

  video {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
  }


  &.visible {
    opacity: 1;
    transform: scale(1,1);
    visibility: visible;
    transition-delay: 0s;
  }
}
