@import '../../variables';

.sectionMenu {
  background-color: $black;
  display: flex;
  flex-direction: row;
  box-shadow: $dropShadow;

  transition: background-color $transition, transform $transition;

  &:hover {
    background-color: $green;
    transform: translate3d(0, -0.5rem, 0);
  }
}
