@import '../../variables';

.loadingPage {
  min-height: 100vh;
  min-width: 100vw;
  background-color: $black;
  color: $white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;

  .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 1em;

    .bar {
      background-color: $white;
      height: 1em;
      width: 0;

      transition: width 100ms ease-in-out;
    }
  }

  .logo {
    font-family: sans-serif;
    font-size: 8rem;
    opacity: 0.05;
    text-align: center;
    padding: 42vh 0;
    text-transform: uppercase;
  }

  &.showing {
    opacity: 1;
  }

  &.hiding {
    opacity: 0;
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}
