@import '../../variables.scss';

.footer {
  color: $white;
  padding: 4rem 0;

  ul {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;

    li {
      font-family: $fontMono;
      padding: 0 3rem;
      opacity: 0.5;

      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
}