@import '../../../variables';

.experience {
  cursor: pointer;
  opacity: 1;
  will-change: opacity;
  transition: opacity 100ms linear;

  section.link {
    padding-bottom: 0.3em;

    a {
      font-size: 3rem;
      color: $white;
      text-decoration: none;
      border-bottom: 2px solid transparent;
    }
  }

  section.tags {
    padding: 0.5rem 0 1rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    :global(.icon) {
      font-size: 150%;
      margin: 0.25em;
    }
  }

  &.hovering {
    opacity: 0;
  }

  &.active {
    opacity: 1;

    section.link {
      a {
        border-bottom: 2px solid $yellow;
      }
    }
  }
}

/** PHONE **/
@media (max-width: 640px) {
  .experience {
    padding: 2rem 0;
    text-align: center;

    section.link {
      a {
        font-size: 2.5rem;
      }
    }

    section.tags {
      padding: 0.25rem 0 0 0;
      justify-content: center;

      :global(.icon) {
        font-size: 125%;
      }
    }
  }
}

/** TABLET **/
@media (max-width: 1024px) {
}

@media (min-width: 1025px) {
  .experience {
    padding: 0.5rem 0 0.5rem 15%;

    &:nth-of-type(2n) {
      padding-left: 60%;
    }
  }
}
