@import '../../../variables';

.quoteBlock {
  color: $black;
  text-align: center;

  hr {
    border: none;
    height: 2px;
    width: 15%;
    margin: 3rem auto;
    background-color: $mediumGrey;
  }

  blockquote {
    display: block;
    font-family: $fontSans;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.3em;
    padding: 0 15%;
    margin: 0 0 2rem 0;
  }

  h2 {
    font-size: 1.25rem;
    font-family: $fontMono;
    color: $black;
    opacity: 0.7;
  }
}