@import '../../../variables';

.sectionHero {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  color: white;
  transform: translate3d(0, 0, 0);
  visibility: hidden;
  opacity: 0;
  transition: opacity $transition, transform 2000ms ease-out;

  &.hovering, &.selected {
    visibility: visible;
    opacity: 1;
  }

  &.selected {
    //transform: scale3d(2,2,1);
  }
}
