<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Usful Website</title>
  <meta name="description" content="Usful">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <link rel="shortcut icon" href="/public/logo-color.png" type="image/png">
  <link rel="stylesheet" type="text/css" href="/reset.css">
  <link rel="stylesheet" type="text/css" href="/main.css">
  <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
  <link href="https://fonts.googleapis.com/css?family=Adamina" rel="stylesheet">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_KpWQ7HaLV8nyw8OaoLUr0K8kUAMepl4"></script>
  <script>
    (function (i, s, o, g, r, a, m) {
      i.GoogleAnalyticsObject = r; i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments);
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m);
    }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga'));
  </script>
</head>
<body>
  <div id="root"></div>
  <%=htmlWebpackPlugin.files.webpackManifest%>
  <script src="/<%= htmlWebpackPlugin.files.chunks.vendors.entry %>" type="text/javascript"></script>
  <script src="/<%= htmlWebpackPlugin.files.chunks.main.entry %>" type="text/javascript"></script>
</html>