$black: #1f1f1f;
$white: #fff;
$green: #4c7648;

$transitionTime: 175ms;
$transitionTimeMedium: 750ms;
$transition: $transitionTime ease-in-out;
$transitionMedium: $transitionTimeMedium ease-in-out;


$dropShadow: 0 0.2em 0.5em rgba(0,0,0,0.25);