$black: #1f1f1f;
$white: #fff;
$green: #4c7648;
$yellow: #f6d600;
$darkGrey: #444;
$lightGrey: #acacac;

$transitionTime: 500ms;
$transitionTimeMedium: 750ms;
$transitionTimeLong: 1250ms;
$transition: $transitionTime ease-in-out;
$transitionMedium: $transitionTimeMedium ease-in-out;
$transitionLong: $transitionTimeLong ease-in-out;
$transitionSlick: 300ms cubic-bezier(.77, 0, .175, 1);
$showTransition: 500ms ease-in-out;

@mixin hoverLine($color: rgba(255,255,255,0.7)) {
  position: relative;

  &::after {
    content: ' ';
    will-change: width;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    height: 1px;
    width: 100%;
    margin: 0 auto;
    background: $color;
    transition: transform $transitionSlick,
      width $transitionSlick;
    transform-origin: 100% 50%;
    transform: scaleX(0);
  }

  &:hover::after {
    transform-origin: 0 50%;
    transform: scaleX(1);
  }
}

@mixin shownState {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

@mixin hiddenState {
  will-change: opacity, transform;
  opacity: 0;
  transform: translate3d(0, 1rem, 0);
  transition: opacity $showTransition, transform $showTransition,
    width $showTransition;
}

$dropShadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.25);

@mixin dropShadow {
  box-shadow: $dropShadow;
}

@mixin fontSmoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}