.homePage {
  background-color: white;
  color: black;
  width: 90em;
  padding: 7em 0 7em 6em;
  margin: 0 auto;
  box-sizing: border-box;

  section.top {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .container {
    position: relative;
  }
}
