@import '../../variables';

.homePage {
  background-color: white;
  color: black;
  margin: 0 auto;
  box-sizing: border-box;
  opacity: 1;

  section.top {
    display: flex;
    align-items: center;
  }

  .container {
    position: relative;
  }

  section.social {
    a {
      color: $black;
      font-size: 2.3rem;
      width: 1em;
      height: 1em;
      margin: 0.2em 0;
      transition: color $transition;
      text-align: center;

      &:hover {
        color: $green;
      }
    }
  }

  &.hiding {
    opacity: 0;
  }

  &.hidden {
    pointer-events: none;
  }
}

/** TABLET **/
@media (max-width:1024px) {
  .homePage {
    width: 100vw;
    padding: 3em 5vw;
    text-align: center;

    section.top {
      flex-direction: column;
      margin-bottom: 2rem;
      text-align: center;

      .logo {
        margin-bottom: 1rem;
      }

      .tagLine {
        margin-bottom: 1.5rem;
      }
    }

    .sectionMenu {
      display: inline-flex;
      transform: translate3d(0, -2rem, 0);
    }

    .mainMenu {
      display: flex;
      flex-direction: column;
      margin: 1rem 0 3rem 0;
    }

    section.social {
      a {
        padding: 0 0.5em;
      }
    }

  }
}

/** PHONE **/
@media (max-width:640px)  {
  .homePage {
    .sectionMenu {
      display: inline-flex;
      flex-direction: column;
      transform: translate3d(0, -6rem, 0);
      padding: 2rem 0;
    }

    .mainMenu {
      margin: 0 0 3rem 0;
    }
  }
}


@media (min-width:1025px) {
  .homePage {
    width: 90em;
    padding: 7em 0 7em 6em;

    section.top {
      flex-direction: row;
      margin-bottom: -1.8rem;

      .logo {
        margin-right: 0.25em;
      }

      .tagLine {
        width: 15em;
        margin-bottom: 1em;
      }
    }

    .sectionMenu {
      position: absolute;
      bottom: 5rem;
      right: 8rem;
    }


    .mainMenu {
      position: absolute;
      top: 24rem;
      left: -26rem;
      width: 45rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0 1rem;
      transform: rotate(270deg);
    }

    section.social {
      position: absolute;
      right: 8rem;
      top: 7rem;
      display: flex;
      flex-direction: column;
    }

  }
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }

