@import '../../../variables';

.technologyCard {
  background-size: cover;
  min-height: 40rem;
  width: 33vw;

  a {
    text-decoration: none;
  }

  .inner {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    color: $white;
    padding: 0 15%;
    opacity: 0;

    transition: opacity $transitionSlick;

    h1 {
      font-family: 'Maison Neue', sans-serif;
      font-size: 4rem;
      font-weight: 600;
      text-decoration: none;
    }

    p {
      font-size: 2rem;
      text-decoration: none;
      line-height: 1.4em;
    }
  }

  &:hover {
    .inner {
      opacity: 1;
    }
  }
}